createdAt: "2021-10-02T16:38:30.260Z"
updatedAt: "2021-10-02T16:39:23.932Z"
type: "MARKDOWN_NOTE"
folder: "994f8d784b2b3fc2cd04"
title: "My Second Note"
tags: []
content: '''
  # My Second Note
  
  ## References
  
  - [My First Note](:note:ae08726c-5343-4f59-a3d6-bd0544381a1e)
  - [My Second Note](:note:d70facf2-3fba-46e8-a172-02a7be3742c7)
'''
isStarred: false
isTrashed: false
